%active-item-styles {
  z-index: -1;
  background: #fff;
  border-bottom: 3px solid black;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px 5px 0 0;
}

.productListFooter {
  &-item {
    a {
      position: relative;
      &:after {
        @extend %active-item-styles;
        width: 0;
        transition: width 1s ease;
      }
    }
    &.active {
      a:after {
        @extend %active-item-styles;
        width: 100%;
      }
    }
    &:hover a:after, :focus a:after {
      width: 100%;
    }
  }
}
