.productListFooter-item a:after, .productListFooter-item.active a:after {
  z-index: -1;
  background: #fff;
  border-bottom: 3px solid black;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px 5px 0 0; }

.productListFooter-item a {
  position: relative; }
  .productListFooter-item a:after {
    width: 0;
    transition: width 1s ease; }

.productListFooter-item.active a:after {
  width: 100%; }

.productListFooter-item:hover a:after, .productListFooter-item :focus a:after {
  width: 100%; }
