.productListBody {
  position: relative;
  overflow: hidden;
  &-row {
    margin-right: -7px;
    margin-left: -7px;
  }
  &-col {
    padding-right: 7px;
    padding-left: 7px;
  }
  &--fade-enter {
    opacity: 0;
    transform: translateY(-100%);
  }

  &--fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1000ms ease, transform 1000ms ease;
  }

  &--fade-exit {
    position: absolute;
    left: 14px;
    right: 14px;
    top: 0;
    bottom: 0;
    opacity: 1;
    transform: translateY(0);
  }

  &--fade-exit-active {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1000ms ease, transform 1000ms ease;
  }
}


