.productListBody {
  position: relative;
  overflow: hidden; }
  .productListBody-row {
    margin-right: -7px;
    margin-left: -7px; }
  .productListBody-col {
    padding-right: 7px;
    padding-left: 7px; }
  .productListBody--fade-enter {
    opacity: 0;
    transform: translateY(-100%); }
  .productListBody--fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1000ms ease, transform 1000ms ease; }
  .productListBody--fade-exit {
    position: absolute;
    left: 14px;
    right: 14px;
    top: 0;
    bottom: 0;
    opacity: 1;
    transform: translateY(0); }
  .productListBody--fade-exit-active {
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 1000ms ease, transform 1000ms ease; }
