.productCard {
  margin-bottom: 1.5em;

  &-header {
    padding: 70% 0 0;
    position: relative;
  }
  &-innerHeader {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 5%;
    text-align: center;
    overflow: hidden;
    img {
      transition: transform 0.2s;
    }
  }
  &-header:hover &-innerHeader img {
    transform: scale(1.2);
  }
  &-image {
    max-width: 100%;
    max-height: 100%;
  }
  &-name {
    color: #606060;
  }
  &-desc {
    color: #828282;
  }
  &-price {
    font-weight: 700;
    color: #1c1c1c;
  }
  &-body {
    > h5, p {
      margin-bottom: .25em;
    }
  }
}
