.productCard {
  margin-bottom: 1.5em; }
  .productCard-header {
    padding: 70% 0 0;
    position: relative; }
  .productCard-innerHeader {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 5%;
    text-align: center;
    overflow: hidden; }
    .productCard-innerHeader img {
      transition: transform 0.2s; }
  .productCard-header:hover .productCard-innerHeader img {
    transform: scale(1.2); }
  .productCard-image {
    max-width: 100%;
    max-height: 100%; }
  .productCard-name {
    color: #606060; }
  .productCard-desc {
    color: #828282; }
  .productCard-price {
    font-weight: 700;
    color: #1c1c1c; }
  .productCard-body > h5, .productCard-body p {
    margin-bottom: .25em; }
