.productListHeader-dropdown {
  cursor: pointer; }
  .productListHeader-dropdown:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 1.2em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent; }
