@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
@import "~normalize.css";
@import "scss/variables";
@import "node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #F6F6F6;
}
