$font-size-base: .8rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: ($font-size-base * 1.125) !default;
$font-size-sm: ($font-size-base * .875) !default;
$font-size-xs: ($font-size-base * .625) !default;
$card-cap-bg: #fff !default;
$pagination-bg: none !default;
$pagination-active-bg: none !default;
$pagination-hover-bg: none !default;
$pagination-disabled-bg: none !default;
$pagination-color: #606060 !default;
$pagination-border-width: 0 !default;
$pagination-focus-box-shadow: 0 !default;
$pagination-disabled-border-color: none !default;
$pagination-padding-x: 1rem !default;
$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 100%,
  xl: 100%
) !default;
